.mb-20{
    margin-bottom: 20px;
}

table .fa{
    display: inline-block;
    font-size: 25px;
    cursor: pointer;
    vertical-align: middle;
    color: #ff6258;
}

.auth.auth-bg-1 {
    background: url(../images/login_1.jpg);
    background-size: cover;
}

.invalid-feedback{
    display: block;
}