{% extends 'base.html' %}

{% from "macros/formFields.html" import render_field, render_file_field, render_hidden_field %}

{% block title %}Contato{% endblock %}

{% block content %}

<section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
        <div class="container">
            <div class="banner_content d-md-flex justify-content-between align-items-center">
                <div class="">
                    <h2>Contato</h2>
                </div>
                <div class="page_link">
                    <a href="{{ url_for('site.index') }}" title="Home">Home</a>
                    <strong>Contato</strong>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="sct-contact section_gap">
    <div class="container">
        <div class="d-none d-sm-block mb-5 pb-4 Contact">
            {{ configuration.map|safe }}
            <a id="formulario"></a>
        </div>
        <div class="row">
            <div class="col-12">
                <h2 class="contact-title">Envie uma mensagem</h2>
            </div>
            <div class="col-lg-8 mb-4 mb-lg-0">
                {% from "macros/messageFlash.html" import render_message %}
                {{ render_message() }}
                <form class="form-contact contact_form" action="#formulario" method="post" novalidate>
                    {{ form.csrf_token }}
                    <div class="row">
                        <div class="col-12">
                            {{ render_field(form.assunto, 'required') }}
                        </div>
                        <div class="col-sm-6">
                            {{ render_field(form.name, 'required') }}
                        </div>
                        <div class="col-sm-6">
                            {{ render_field(form.email, 'required email') }}
                        </div>
                        <div class="col-12">
                            {{ render_field(form.text, 'required') }}
                        </div>
                    </div>
                    <div class="form-group mt-lg-3">
                        <button type="submit" class="main_btn">Enviar mensagem</button>
                    </div>
                </form>
            </div>
            <div class="col-lg-4">
                <div class="media contact-info">
                    <span class="contact-info__icon"><i class="ti-home"></i></span>
                    <div class="media-body">
                        <h3>{{ configuration.city }}</h3>
                        <p>{{ configuration.address }}</p>
                    </div>
                </div>
                <div class="media contact-info">
                    <span class="contact-info__icon"><i class="ti-tablet"></i></span>
                    <div class="media-body">
                        <h3>{{ configuration.phone }}</h3>
                        <p>{{ configuration.schedules }}</p>
                    </div>
                </div>
                <div class="media contact-info">
                    <span class="contact-info__icon"><i class="ti-email"></i></span>
                    <div class="media-body">
                        <h3><a href="mailto:uniplac@uniplaclages.br">{{ configuration.email }}</a></h3>
                        <p>Envie-nos a qualquer momento!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
{% block footer_script %}
<script src="{{ url_for('static', filename='share/js/vanilla-validator.concat.js') }}"></script>
<script>
    var validator = new VanillaValidator({
        messages: {
            required: 'Campo obrigatório',
            email: 'E-mail inválido'
            
        }
    });
  </script>
{% endblock footer_script %}