{% extends 'base.html' %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}

<div id="fb-root"></div>
<script async defer crossorigin="anonymous"
    src="https://connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v5.0&appId=323691997731292&autoLogAppEvents=1"></script>

<section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
        <div class="container">
            <div class="banner_content d-md-flex justify-content-between align-items-center">
                <div class="">
                    <h2> {{ titulo }} </h2>
                </div>
                <div class="page_link">
                    <a href="{{ url_for('site.index') }}" title="Home">Home</a>
                    {% if(titulo == 'Notícias'): %}
                    <a href="{{ url_for('site.noticias') }}" title="{{ titulo }}">{{ titulo }}</a>
                    {% elif(titulo == 'Anuncios'): %}
                    <a href="{{ url_for('site.anuncios') }}" title="{{ titulo }}">{{ titulo }}</a>
                    {% elif(titulo == 'Avisos'): %}
                    <a href="{{ url_for('site.avisos') }}" title="{{ titulo }}">{{ titulo }}</a>
                    {% endif %}
                    <strong>{{ post.title }}</strong>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="blog_area single-post-area section_gap">
    <div class="container">
        <div class="row">

            <div class="col-lg-8 posts-list">

                <div class="single-post">

                    <div class="blog_details">
                        <h1 class="title-post-detail">{{ post.title }}</h1>
                        <ul class="blog-info-link">
                            <li>
                                <div class="post_marker_wrap">
                                    {% if post.genre == 'news' %}
                                    <a href="{{ url_for('site.noticias') }}" title=""
                                        class="post_marker {{post.genre}}">
                                        Notícia
                                    </a>
                                    {% elif post.genre == 'ad' %}
                                    <a href="{{ url_for('site.anuncios') }}" title=""
                                        class="post_marker {{post.genre}}">
                                        Anúncio
                                    </a>
                                    {% elif post.genre == 'notice' %}
                                    <a href="{{ url_for('site.avisos') }}" title="" class="post_marker {{post.genre}}">
                                        Aviso
                                    </a>
                                    {% endif %}
                                </div>
                            </li>
                            <li>
                                <span>
                                    <i class="ti-calendar"></i> {{ post.created_at|format_datetime('%d/%m/%Y') }}
                                </span>
                            </li>
                            <li class="hide-768">
                                <a class="author" href="{{ url_for('site.filtro', author=user.id) }}"
                                    title="Autor {{ user.first_name }} {{ user.last_name }}">
                                    <i class="ti-user"></i> Por {{ user.first_name }} {{ user.last_name }}
                                </a>
                            </li>
                            {% if category.id %}
                            <li>
                                <a href="{{ url_for('site.filtro', category=category.id) }}"
                                    title="Categoria {{ category.name }}">
                                    <i class="ti-tag"></i> {{ category.name }}
                                </a>
                            </li>
                            {% endif %}
                            {% if session.get('user_role', '')  %}
                            {% if post.genre == 'news' and (session.get('user_role', '') == 'admin' or session.get('user_role', '') == 'editor')  %}
                            <li class="hide-768">
                                <a href="{{ url_for('posts.noticias_editar', id=post.id) }}" target="_blank"
                                    title="Editar aviso">
                                    <i class="ti-pencil fa-lg"></i> Editar notícia
                                </a>
                            </li>
                            {% elif post.genre == 'notice' and (session.get('user_role', '') == 'admin' or session.get('user_role', '') == 'author')  %}
                            <li class="hide-768">
                                <a href="{{ url_for('posts.avisos_editar', id=post.id) }}" target="_blank"
                                    title="Editar aviso">
                                    <i class="ti-pencil fa-lg"></i> Editar aviso
                                </a>
                            </li>
                            {% elif post.genre == 'ad'  %}
                            {% if session.get('user_role', '') == 'user' %}
                            {% if post.user_id == session.get('user_id', '') %}
                            <li class="hide-768">
                                <a href="{{ url_for('posts.anuncios_editar', id=post.id) }}" target="_blank"
                                    title="Editar anúncio">
                                    <i class="ti-pencil fa-lg"></i> Editar anúncio
                                </a>
                            </li>
                            {% endif %}
                            {% else %}
                            <li class="hide-768">
                                <a href="{{ url_for('posts.anuncios_editar', id=post.id) }}" target="_blank"
                                    title="Editar anúncio">
                                    <i class="ti-pencil fa-lg"></i> Editar anúncio
                                </a>
                            </li>
                            {% endif %}
                            {% endif  %}
                            {% endif %}
                        </ul>
                        {% if post.image_id != None%}
                        <div class="feature-img">
                            <img class="img-fluid" src="{{request.url_root}}api/media/{{post.image_id}}"
                                alt="{{ post.title }}">
                        </div>
                        {% endif %}
                        <div class="post-content">
                            {{ post.content|safe }}
                        </div>

                    </div>
                    <div class="clear"></div>
                    {% if post.tags %}
                    <hr />
                    <p class="tags">
                        <span class="inline-block"><strong>Tags:</strong></span>
                        {% for tag in post.tags %}
                        <a href="{{ url_for('site.tag', tag=tag.id) }}" class="badge badge-tag">{{ tag.name }}</a>
                        {% endfor %}
                    </p>
                    {% endif %}
                </div>
            </div>
            <div class="col-lg-4">
                {% include 'includes/public/sidebar.html' %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="post-comments">
                    <hr />
                    <div class="fb-comments" data-href="{{request.url}}" data-width="100%" data-numposts="10"></div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}