{% extends 'base-admin.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-12 grid-margin">
        <div class="d-flex justify-content-between flex-wrap">
            <div class="d-flex align-items-end flex-wrap">
                <div class="mr-md-3 mr-xl-5">
                    <h2>Bem Vindo {{ session.get('user_name', '') }}</h2>
                    <ul class="dash-links">
                        <li>
                            <a href="{{ url_for('site.index') }}" title="Ver Site">
                                <i class="mdi mdi-home text-muted hover-cursor"></i>
                                Ver Site
                            </a>
                        </li>
                        {% if session.get('user_role', '') == 'admin'  %}
                        <li>
                            <a href="{{ url_for('configuracoes.cadastrar') }}" title="Editar Configurações">
                                <i class="mdi mdi-settings text-muted hover-cursor"></i>
                                Editar Configurações
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    {% if session.get('user_role', '') == 'admin' or session.get('user_role', '') == 'editor'  %}
    <div class="col-md-4 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Cadastrar Notícia</h4>
                <div class="media">
                    <div class="media-body">
                        <a href="{{ url_for('posts.noticias_cadastrar') }}" class="btn btn-primary btn-icon-text"
                            title="Cadastrar Notícia">
                            Cadastrar Noticia
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    <div class="col-md-4 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Cadastrar Anúncio</h4>
                <div class="media">
                    <div class="media-body">
                        <a href="{{ url_for('posts.anuncios_cadastrar') }}" class="btn btn-primary btn-icon-text"
                            title="Cadastrar Anúncio">
                            Cadastrar Anúncio
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if session.get('user_role', '') == 'admin' or session.get('user_role', '') == 'author'  %}
    <div class="col-md-4 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Cadastrar Aviso</h4>
                <div class="media">
                    <div class="media-body">
                        <a href="{{ url_for('posts.avisos_cadastrar') }}" class="btn btn-primary btn-icon-text"
                            title="Cadastrar Aviso">
                            Cadastrar Aviso
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% if session.get('user_role', '') == 'admin'  %}
<div class="row">
    <div class="col-md-4 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Cadastrar Usuário</h4>
                <div class="media">
                    <div class="media-body">
                        <a href="{{ url_for('usuarios.cadastrar') }}" class="btn btn-primary btn-icon-text"
                            title="Cadastar Usuário">
                            Cadastrar Usuário
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Cadastrar Categoria</h4>
                <div class="media">
                    <div class="media-body">
                        <a href="{{ url_for('categorias.cadastrar') }}" class="btn btn-primary btn-icon-text"
                            title="Cadastrar Categoria">
                            Cadastrar Categoria
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Cadastrar Tag</h4>
                <div class="media">
                    <div class="media-body">
                        <a href="{{ url_for('tags.cadastrar') }}" class="btn btn-primary btn-icon-text"
                            title="Cadastrar Tag">
                            Cadastrar Tag
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<hr><br>
<div class="row row-charts">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Posts publicados nos últimos 30 dias agrupados por tipo</h4>
                <div class="media">
                    <div class="media-body embed-responsive embed-responsive-4by3">
                        <div id="chart_div" class="embed-responsive-item"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Posts publicados nos últimos 30 dias agrupados por status</h4>
                <div class="media">
                    <div class="media-body embed-responsive embed-responsive-4by3">
                        <div id="chart_div_2" class="embed-responsive-item"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% endblock content %}

{% block footer_script %}

<script src="https://www.gstatic.com/charts/loader.js"></script>
<script>
    var chart_div = document.getElementById('chart_div');
    google.charts.load('current', { 'packages': ['corechart'] });
    if (chart_div) {
        google.charts.setOnLoadCallback(drawChart);
        function drawChart() {
            var data = google.visualization.arrayToDataTable([
                ['Tipo', 'Posts Publicados', { role: 'style' }],
                ['Anúncios', {{ posts_per_genre[0] }}, 'color: #851878'],
        ['Notícias', {{ posts_per_genre[1] }}, 'color: #009eef'],
    ['Avisos', {{ posts_per_genre[2] }}, 'color: #990000'],
            ]);
    var options = {
        legend: { position: "none" },
        width: '100%'
    };
    var chart = new google.visualization.ColumnChart(chart_div);
    chart.draw(data, options);
        }
    }

    var chart_div_2 = document.getElementById('chart_div_2');
    if (chart_div_2) {
        google.charts.setOnLoadCallback(drawChart2);
        function drawChart2() {
            var data = google.visualization.arrayToDataTable([
                ['Status', 'Posts Publicados', { role: 'style' }],
                ['Aprovados', {{ posts_per_status[0] }}, 'color: #71c016'],
        ['Negados', {{ posts_per_status[1] }}, 'color: #ff4747'],
    ['Pendentes', {{ posts_per_status[2] }}, 'color: #ffc100'],
            ]);
    var options = {
        legend: { position: "none" },
        width: '100%'
    };
    var chart = new google.visualization.ColumnChart(chart_div_2);
    chart.draw(data, options);
        }
    }

    $(window).resize(function () {
        if (chart_div) {
            drawChart();
        }
        if (chart_div_2) {
            drawChart2();
        }
    });
</script>

{% endblock footer_script %}