{% extends 'base-admin.html' %}

{% block title%}
{{ titulo }}
{% endblock title%}

{% block content %}

<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <ul class="ul-breadcrumb">
            <li>
                <a href="{{ url_for('dashboard.dash') }}" title="Dashboard">Dashboard</a>
            </li>
            <li>
                <a href="{{ url_for('tags.index') }}" title="Tags">Tags</a>
            </li>
            <li>
                <b>Excluir</b>
            </li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <h4>{{ titulo }}</h4>
        <hr>
        <form action="{{ url_for('tags.deletar', id=tagId) }}" method="POST">
            <button type="submit" class="btn btn-danger">Excluir</button>
            <input type="hidden" name="tagId" value="{{ tagId }}">
            <a href="{{ url_for('tags.index') }}" class="btn btn-secondary" title="Cancelar">Cancelar</a>
        </form>
    </div>
</div>
{% endblock content %}