{% extends 'base-admin.html' %}

{% from "macros/formFields.html" import render_field, render_checkbox_field %}

{% block title%}
{{ titulo }} de Tags
{% endblock title%}

{% block content %}

<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <ul class="ul-breadcrumb">
            <li>
                <a href="{{ url_for('dashboard.dash') }}" title="Dashboard">Dashboard</a>
            </li>
            <li>
                <a href="{{ url_for('tags.index') }}" title="Tags">Tags</a>
            </li>
            <li>
                <b>{{ titulo }} de Tags</b>
            </li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">{{ titulo }} de Tags</h4>
                <form class="forms-sample" method="POST" novalidate>
                    {{ form.csrf_token }}
                    {{ render_field(form.name, 'required async', '45') }}
                    <input type="hidden" id="old-tag" value="{{ form.name.data }}" />
                    <br />
                    <button type="submit" class="btn btn-primary mr-2">Enviar</button>
                    <button type="button" class="btn btn-light"
                        onClick="history.go(-1); return false;">Cancelar</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content%}

{% block footer_script %}
<script>
    var validator = new VanillaValidator({
        messages: {
            required: 'Campo obrigatório'
        },
        asyncValidates: {
            'tag-input': {
                message: 'verificando disponibilidade do nome...',
                fn: function (field, message, container) {
                    var self = this;
                    this.asyncValidationStart(field, 'verificando disponibilidade do nome...', container);
                    if ($('#old-tag') && $('#old-tag').val() === field.value && field.value !== '') {
                        self.asyncValidationFinish(field, '', container, true);
                    } else {
                        if (field.value === '') {
                            self.asyncValidationFinish(field, 'Campo obrigatório', container, false);
                        } else {
                            $.ajax({
                                method: 'POST',
                                url: '/admin/tags/async-check',
                                data: { name: field.value }
                            }).done(function (data) {
                                if (data && data.message && data.message === 'success') {
                                    self.asyncValidationFinish(field, '', container, true);
                                } else {
                                    self.asyncValidationFinish(field, 'Uma Tag com este nome já existe na base de dados', container, false);
                                }
                             });
                        }
                    }
                }
            }
        }
    });
</script>
{% endblock footer_script %}